
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title id="PageTitle">问题明细</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Lib/m-Reset/m-Reset.css" rel="stylesheet" />
    <link href="~/Css/Base.css" rel="stylesheet" />
    <link href="~/Css/Problem/ProblemDetails.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2 id="HeaderTitle">问题明细</h2>
    </header>
    <div class="TopTools btn-group">
        <button class="btn btn-default btn-back glyphicon glyphicon-chevron-left"></button>
        <button id="BtnSave" class="btn btn-primary glyphicon"></button>
    </div>
    <main>
        <form id="InputForm">
            <div class="form-group">
                <label for="InputContents">问题</label>
                <textarea id="InputContents" rows="3" class="form-control" required></textarea>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="InputScore">分值</label>
                <input id="InputScore" type="number" min="0" required class="form-control" value="0" />
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="InputScore">答案</label>
                <div class="btn-group">
                    <button id="BtnAddAnswer" class="btn btn-success glyphicon glyphicon-plus" type="button"></button>
                </div>
            </div>
            <div id="AnswersList">
            </div>
        </form>
    </main>
    <!-- 删除窗体 -->
    <article class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="DeleteModalTitle">提示</h4>
                </div>
                <div id="DeleteModalBody" class="modal-body">
                    确定要删除该问题吗？
                </div>
                <div class="modal-footer">
                    <button id="BtnDelete" type="button" class="btn btn-danger">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </article>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Lib/m-Tools/m-Tools.js"></script>
    <script src="~/Scripts/Base.js"></script>
    <script src="~/Scripts/Problem/ProblemDetails.js"></script>
</body>
</html>