
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title id="PageTitle"></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Lib/m-Reset/m-Reset.css" rel="stylesheet" />
    <link href="~/Css/Base.css" rel="stylesheet" />
    <link href="~/Css/Paper/ExamDetails.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2 id="HeaderTitle"></h2>
    </header>
    <main id="PaperDiv">
    </main>
    <button id="BtnOpenSubmitWindow" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#SubmitModal" disabled>提交</button>
    <!-- 提交窗体 -->
    <article class="modal fade" id="SubmitModal" tabindex="-1" role="dialog" aria-labelledby="SubmitModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="SubmitModalTitle">提示</h4>
                </div>
                <div id="SubmitModalBody" class="modal-body">
                    确定要提交答题卡吗？
                </div>
                <div class="modal-footer">
                    <button id="BtnSubmit" type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </article>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Lib/m-Tools/m-Tools.js"></script>
    <script src="~/Scripts/Base.js"></script>
    <script src="~/Scripts/Paper/ExamDetails.js"></script>
</body>
</html>