
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title id="PageTitle">试题列表</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Lib/m-Reset/m-Reset.css" rel="stylesheet" />
    <link href="~/Css/Base.css" rel="stylesheet" />
    <link href="~/Css/Paper/PaperList.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2 id="HeaderTitle">试题列表</h2>
    </header>
    <div class="TopTools btn-group" role="group" aria-label="...">
        <button class="btn btn-default btn-back glyphicon glyphicon-chevron-left"></button>
        <a href="/Paper/PaperDetails" class="btn btn-primary glyphicon glyphicon-plus"></a>
        <button class="btn btn-default glyphicon glyphicon-search" data-toggle="modal" data-target="#SearchModal"></button>
    </div>
    <main id="MainList" class="list-group"></main>
    <!-- 查询窗体 -->
    <article class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="SearchModalTitle">搜索</h4>
                </div>
                <div id="SearchModalBody" class="modal-body">
                    <form id="SearchForm">
                        <div class="form-group">
                            <label for="SearchTitle">标题</label>
                            <input id="SearchTitle" type="search" class="form-control" placeholder="请输入标题" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="SearchIsEnable">启用状态</label>
                            <select id="SearchIsEnable" class="form-control">
                                <option value="null">所有</option>
                                <option value="true">启用</option>
                                <option value="false">禁用</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="BtnSearch" type="button" class="btn btn-primary">搜索</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </article>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Lib/m-Tools/m-Tools.js"></script>
    <script src="~/Scripts/Base.js"></script>
    <script src="~/Scripts/Paper/PaperList.js"></script>
</body>
</html>
