
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title id="PageTitle">Miss Yang Q&A System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Lib/m-Reset/m-Reset.css" rel="stylesheet" />
    <link href="~/Css/Base.css" rel="stylesheet" />
    <link href="~/Css/Home/Index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2 id="HeaderTitle">Miss Yang Q&A System</h2>
    </header>
    <nav class="MainNav">
        <a href="/User/UserList" style="background-color:#fc9413">
            <i class="glyphicon glyphicon-user"></i>
        </a>
        <a href="/ClassList/ClassListList" style="background-color:#13b67b">
            <i class="glyphicon glyphicon-education"></i>
        </a>
        <a href="/Paper/PaperList" style="background-color:#808080">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a style="background-color:#31bee5">
            <i class="glyphicon glyphicon-list-alt"></i>
        </a>
        <a style="background-color:#66CCCC">
            <i class="glyphicon glyphicon-qrcode"></i>
        </a>
        <a id="BtnLogOut" style="background-color:#FF6666">
            <i class="glyphicon glyphicon-off"></i>
        </a>
    </nav>
    <footer class="DefultFooter"></footer>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Lib/m-Tools/m-Tools.js"></script>
    <script src="~/Scripts/Base.js"></script>
    <script src="~/Scripts/Home/Index.js"></script>
</body>
</html>